@page
@using ClassLibrary.Models;
@model RazorPagesProject.Pages._GradesViewModel
@{
}

<!DOCTYPE html>
<html>
<head>
	<title>Student Grades</title>
</head>
	<div class="grades-container">
	<table>
		<thead>
			<tr>
				<th>SubjectGrades Number</th>
				<th>Subject</th>
				<th>First Semester</th>
				<th>Second Semester</th>
				<th>Year</th>
			</tr>
		</thead>
		<tbody>
			
			@if (Model.currentStudent.GetGradeBook().Count!= 0)
			{
				foreach (SubjectGrades subjectGrades in Model.currentStudent.GetGradeBook())
				{

					<tr>
						<td class="width70px">@subjectGrades.Id</td>
						<td>@subjectGrades.Subject.ToString()</td>
						<td>
							@try
							{
								if (Model.GetGradesFromSubjectGrades(subjectGrades) != null)
								{
									if (Model.GetGradesFromSubjectGrades(subjectGrades).Count != 0)
									{
										@foreach (Grade grade in Model.GetGradesFromSubjectGrades(subjectGrades))
										{
											<form class="grade-value grade-details" method="post">

												<input type="hidden" name="SubjectGradesId" value="@subjectGrades.Id" />
												<input type="hidden" name="UserId" value="@Model.currentStudent.Userid" />

												@grade.GradeEnum.ToString()
												<button class="x-icon" asp-page-handler="DeleteGrade" type="submit" name="GradeId" value="@grade.IdGrade">
													<p class="x-text">
														x
													</p>
												</button>
											</form>
										}
									}

								}
								else
								{
									<p>No Grades Here!</p>
								}

							}
							catch (Exception)
							{
								<p>Something went wrong!</p>
							}

							@*						<div class="plus-icon-container">*@
							<span class="plus-icon">
								+
								<form class="dropdown" method="post">

									<input type="hidden" name="SubjectGradesId" value="@subjectGrades.Id" />
									<input type="hidden" name="UserId" value="@Model.currentStudent.Userid" />

									<button class="grade-value grade-details" asp-page-handler="AddGrade" type="submit" value="Submit" name="Button1">
										UNDEFINED
									</button>

									<button class="grade-value grade-details" asp-page-handler="AddGrade" type="submit" value="Submit" name="Button2">
										SUFFICIENT
									</button>

									<button class="grade-value grade-details" asp-page-handler="AddGrade" type="submit" value="Submit" name="Button3">
										GOOD
									</button>

									<button class="grade-value grade-details" asp-page-handler="AddGrade" type="submit" value="Submit" name="Button4">
										OUTSTANDING
									</button>
								</form>
							</span>

							@*						</div>*@
						</td>
						<td>
							@*<span class="grade-value">(SCND SEM GRADE)</span>*@
							<p>No Grades Here!</p>
							<span class="plus-icon">+</span>
						</td>
						<td>2023</td>
					</tr>
				}
			}
			else
			{
				<td>No SubjectGrades for this student!</td>
			}
			
		</tbody>
	</table>
	</div>
</html>