@page
@model RazorPagesProject.Pages.StudentsModel
@{
    ViewData["Title"] = "Students";
}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="topnav" id="shrink">
    <p id="searchlabel">
        Enter a (part of) name of a student:
    </p>
    <div class="search-container">
        <form method ="post">
            <input class ="searchbar" type="text" placeholder="Search.." name="search">
            <button type="submit" asp-page-handler="SearchByName" value="Submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    

    <div class="search-container">
        <label for="sort" class="sortBylbl">Sort By:</label>
        <form method="post" class="sortForm">
            <select id="sort" name="sort">
                <option value="default">Default</option>
                <option value="first-name">First Name</option>
                <option value="last-name">Last Name</option>
                <option value="class">Class</option>
            </select>
        </form>
    </div>
    
</div>

<table class="users_table">
    <thead>
        <tr class = "border" role="row">
            <th>First name</th>
            <th>Last name</th>
            <th>Class</th>
            <th>Role</th>
        </tr>
    </thead>

    <tbody>

        @if (Model.foundUsers == false)
        {
            Model.pastebinList = Model.students;
        }
        else
        {
            Model.pastebinList = Model.foundStudents;
        }
        @foreach (var student in Model.pastebinList)
        {
            <tr class="sorting_1" role="row">
                <td tabindex="0">
                    <a class="no-decoration" asp-page="./_UserView" asp-route-userId="@student.Userid">
                        <i class='fas fa-chalkboard-teacher'></i> @student.Firstname
                    </a>
                </td>
                <td tabindex="0">
                    @student.Lastname
                </td>
                
                <td tabindex="0">
                    <a class="no-decoration" asp-page="./_ClassroomView" asp-route-className="@student.Class">
                        @student.Class
                    </a>
                </td>
                <td tabindex="0">
                    @student.Role
                </td>
            </tr>
        }
        
    </tbody>
</table>
